apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
        - name: flask
          image: thiagotoyota/plataforma-de-leilao-online-distribuida:latest
          ports:
            - containerPort: 5000
          env:
            - name: TZ
              value: America/Sao_Paulo
